.button {
    background-color: white;
    border: 1px solid rgb(90, 139, 212);
    border-radius: 5px;
    padding: .8rem 2rem;
    font-size: 1.6rem;
    color: rgb(90, 139, 212);
    outline: none;
    cursor: pointer;
}